<p>Welcome to Pinhub</p>

<p>{{userForm.valid | json}}</p>
<p>{{inputValues | json}}</p>
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label for="">Ten user</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="inputValues.name" required minlength="6" #name="ngModel">
        <app-show-validate [field]="name" key="Tên"></app-show-validate>
        <!-- <span>{{name.dirty | json}}</span> -->
        <!-- <span *ngIf="name.dirty && name.errors?.['required']" class="text-danger">Ten khong duoc de trong</span>
        <span *ngIf=" name.dirty && name.errors?.['minlength']" class="text-danger">Ten phai tren 6 ky tu</span> -->
    </div>
    <div class="form-group">
        <label for="">Tuoi user</label>
        <input type="number" class="form-control" name="age" #age="ngModel" [(ngModel)]="inputValues.age" required min="1" max="100">
        <app-show-validate [field]="age" key="Tuổi"></app-show-validate>
        <!-- <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['required']">Tuoi khong duoc de trong</span>
        <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['min']">Tuoi toi thieu bang 1</span>
        <span class="text-danger" *ngIf="(age.dirty || age.touched) && age.errors?.['max']">Tuoi toi da bang 100</span> -->
    </div>
    <div class="form-group">
        <label for="">Email user</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="inputValues.email" required email #email="ngModel">
        <app-show-validate [field]="email" key="Email"></app-show-validate>
    </div>
    <div class="form-group">
        <label for="">Sđt</label>
        <input type="text" class="form-control" name="sdt" [(ngModel)]="inputValues.sdt" required sđt #sđt="ngModel">
    </div>
    <div class="form-group">
        <label for="">Avatar</label>
        <input type="text" class="form-control" name="avatar" [(ngModel)]="inputValues.avatar" required avatar #avatar="ngModel">
    </div>
    <div>
        <button class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Email</th>
                <th>Sđt</th>
                <th>Avatar</th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sdt}}</td>
                <td>
                    <img src="{{user.avatar}}" alt="" height="200">
                </td>
                <td>
                    <button class="btn btn-warning" (click)="onEdit(user.id)">Sửa</button>
                    <button class="btn btn-danger" (click)="onDelete(user.id)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>